{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "^@/services/(.*)",
    "^@/components/(.*)",
    "^@/libs/(.*)",
    "^@/hooks/(.*)",
    "^@/(.*)",
    "^[./]"
  ],
  "importOrderSeparation": true
}
