{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "importOrder": [
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)",
    "^@/lib/(.*)",
    "^@/stores/(.*)",
    "^@/hooks/(.*)",
    "^@/(.*)",
    "^[./]"
  ],
  "importOrderSeparation": true
}
