/* lexend-deca-200 - latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 200;
  src: url('../public/assets/fonts/lexend-deca-v16-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/assets/fonts/lexend-deca-v16-latin-200.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/assets/fonts/lexend-deca-v16-latin-200.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/assets/fonts/lexend-deca-v16-latin-200.woff')
      format('woff'),
    /* Modern Browsers */
      url('../public/assets/fonts/lexend-deca-v16-latin-200.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/assets/fonts/lexend-deca-v16-latin-200.svg#LexendDeca')
      format('svg'); /* Legacy iOS */
}
/* lexend-deca-300 - latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 300;
  src: url('../public/assets/fonts/lexend-deca-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/assets/fonts/lexend-deca-v16-latin-300.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/assets/fonts/lexend-deca-v16-latin-300.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/assets/fonts/lexend-deca-v16-latin-300.woff')
      format('woff'),
    /* Modern Browsers */
      url('../public/assets/fonts/lexend-deca-v16-latin-300.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/assets/fonts/lexend-deca-v16-latin-300.svg#LexendDeca')
      format('svg'); /* Legacy iOS */
}
/* lexend-deca-regular - latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: url('../public/assets/fonts/lexend-deca-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/assets/fonts/lexend-deca-v16-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../public/assets/fonts/lexend-deca-v16-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/assets/fonts/lexend-deca-v16-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('../public/assets/fonts/lexend-deca-v16-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/assets/fonts/lexend-deca-v16-latin-regular.svg#LexendDeca')
      format('svg'); /* Legacy iOS */
}
/* lexend-deca-600 - latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 600;
  src: url('../public/assets/fonts/lexend-deca-v16-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/assets/fonts/lexend-deca-v16-latin-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/assets/fonts/lexend-deca-v16-latin-600.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/assets/fonts/lexend-deca-v16-latin-600.woff')
      format('woff'),
    /* Modern Browsers */
      url('../public/assets/fonts/lexend-deca-v16-latin-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/assets/fonts/lexend-deca-v16-latin-600.svg#LexendDeca')
      format('svg'); /* Legacy iOS */
}
/* lexend-deca-500 - latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 500;
  src: url('../public/assets/fonts/lexend-deca-v16-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/assets/fonts/lexend-deca-v16-latin-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/assets/fonts/lexend-deca-v16-latin-500.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/assets/fonts/lexend-deca-v16-latin-500.woff')
      format('woff'),
    /* Modern Browsers */
      url('../public/assets/fonts/lexend-deca-v16-latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/assets/fonts/lexend-deca-v16-latin-500.svg#LexendDeca')
      format('svg'); /* Legacy iOS */
}
/* lexend-deca-700 - latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 700;
  src: url('../public/assets/fonts/lexend-deca-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/assets/fonts/lexend-deca-v16-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/assets/fonts/lexend-deca-v16-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/assets/fonts/lexend-deca-v16-latin-700.woff')
      format('woff'),
    /* Modern Browsers */
      url('../public/assets/fonts/lexend-deca-v16-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/assets/fonts/lexend-deca-v16-latin-700.svg#LexendDeca')
      format('svg'); /* Legacy iOS */
}
/* lexend-deca-800 - latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 800;
  src: url('../public/assets/fonts/lexend-deca-v16-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/assets/fonts/lexend-deca-v16-latin-800.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/assets/fonts/lexend-deca-v16-latin-800.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/assets/fonts/lexend-deca-v16-latin-800.woff')
      format('woff'),
    /* Modern Browsers */
      url('../public/assets/fonts/lexend-deca-v16-latin-800.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/assets/fonts/lexend-deca-v16-latin-800.svg#LexendDeca')
      format('svg'); /* Legacy iOS */
}
