/* nunito-sans-300 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/nunito-sans-v11-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/assets/fonts/nunito-sans-v11-latin-300.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/assets/fonts/nunito-sans-v11-latin-300.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/assets/fonts/nunito-sans-v11-latin-300.woff') format('woff'),
    /* Modern Browsers */ url('/assets/fonts/nunito-sans-v11-latin-300.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/assets/fonts/nunito-sans-v11-latin-300.svg#NunitoSans')
      format('svg'); /* Legacy iOS */
}
/* nunito-sans-regular - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/nunito-sans-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/assets/fonts/nunito-sans-v11-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/assets/fonts/nunito-sans-v11-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/assets/fonts/nunito-sans-v11-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('/assets/fonts/nunito-sans-v11-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/assets/fonts/nunito-sans-v11-latin-regular.svg#NunitoSans')
      format('svg'); /* Legacy iOS */
}
/* nunito-sans-600 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/nunito-sans-v11-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/assets/fonts/nunito-sans-v11-latin-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/assets/fonts/nunito-sans-v11-latin-600.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/assets/fonts/nunito-sans-v11-latin-600.woff') format('woff'),
    /* Modern Browsers */ url('/assets/fonts/nunito-sans-v11-latin-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/assets/fonts/nunito-sans-v11-latin-600.svg#NunitoSans')
      format('svg'); /* Legacy iOS */
}
/* nunito-sans-700 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/nunito-sans-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/assets/fonts/nunito-sans-v11-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/assets/fonts/nunito-sans-v11-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/assets/fonts/nunito-sans-v11-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('/assets/fonts/nunito-sans-v11-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/assets/fonts/nunito-sans-v11-latin-700.svg#NunitoSans')
      format('svg'); /* Legacy iOS */
}
/* nunito-sans-800 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/nunito-sans-v11-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/assets/fonts/nunito-sans-v11-latin-800.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/assets/fonts/nunito-sans-v11-latin-800.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/assets/fonts/nunito-sans-v11-latin-800.woff') format('woff'),
    /* Modern Browsers */ url('/assets/fonts/nunito-sans-v11-latin-800.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/assets/fonts/nunito-sans-v11-latin-800.svg#NunitoSans')
      format('svg'); /* Legacy iOS */
}
